$icon-pencil5: "\e912";
$icon-phone2: "\ea1d";
$icon-direction: "\ea4a";
$icon-bin: "\ebfa";
$icon-paperplane: "\ec06";
$icon-link5: "\ec9e";
$icon-plus2: "\ed58";
$icon-arrow-right2: "\edb9";
$icon-arrow-down2: "\edbd";
$icon-profile: "\e923";
$icon-search: "\e986";
$icon-cross: "\ea0f";
