body {
  background-color:white;
  color:#333;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}

p {
  width:40%;
  margin:0 auto 25px auto;
}

a {
  color:#2583AD;
}

a:hover {
  color:#2588af;
}

.info span {
  padding:5px;
}

a.control {
  text-decoration:none;
}

.icon-bin {
  color:#c64343;
}

label {
  display:block;
  margin:10px;
}

.icon-arrow-down2,
.icon-arrow-right2 {
  position:absolute;
  right:10px;
  top:12px;
}

footer {
  margin-top:25px;
}

.wave-spinner > div {
  background-color:#9C9C9C;
}

.contacts-list {
  position:relative;
  cursor:pointer;
  background-color:#F3F3F7;
  border:1px solid #DEDEE3;
  max-width:30%;
  text-align:left;
  padding:10px;
  margin:5px auto;
}

.add-new {
  cursor:pointer;
}

.add-new label {
  margin: 10px;
  cursor:pointer;

}

.contacts-list.ng-enter, .contacts-list.ng-move,
.add-new.ng-enter, .add-new.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.contacts-list.ng-enter.ng-enter-active,
.contacts-list.ng-move.ng-move-active,
.add-new.ng-enter.ng-enter-active,
.add-new.ng-move.ng-move-active {
  opacity:1;
}

.modal-show,
.modal-show .bg {
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
}

.modal-show .bg {
  background-color:rgba(0,0,0,0.8);
  z-index:1;
}

.modal-show form {
  position:relative;
  background-color:#F3F3F7;
  max-width:30%;
  margin:8% auto 0 auto;
  z-index:10;
  padding:20px;
  border:1px solid #DEDEE3;
}

.modal-show label {
  margin:15px auto;
}

.modal-show input[type=text] {
  border-radius:none;
  border:1px solid #DEDEE3;
  padding:10px;
  background-color:white;
  font-size:16px;
  text-align:center;
  width:100%;
}

.modal-show input[type=text]:focus,
.modal-show input[type=text]:active {
  border:1px solid #2588af;
}

.modal-show input[type="submit"] {
  background-color:#2583AD;
  border:1px solid #2588af;
  color:white;
  cursor:pointer;
  padding:10px 15px;
  font-size:14px;
  border-radius:4px;
}

.modal-show input[type="submit"]:hover,
.modal-show input[type="submit"]:active {
  background-color:#2196c4;
  border:1px solid #23a1c1;
}

.modal-show form h2 {
  margin:0;
  text-align:center;
  padding:15px 0 15px 0;
}
