<div ng-controller="homeController">
  <h1>Contacts</h1>

  <p>
    A simple app built with Angular JS that fetches a list of contacts from an
    external JSON api. The backend is RESTful so you can add, update, and delete
    contacts as you please.
  </p>

  <wave-spinner ng-show="loading"></wave-spinner>

  <div ng-repeat="contact in contacts" class="contacts-list">
    <div class="name" ng-click="openContact( contact.id )">
      {{ contact.name }}

      <span class="icon-arrow-down2" ng-if="open == contact.id"></span>
      <span class="icon-arrow-right2" ng-if="open != contact.id" ></span>
    </div>
    <div class="info" ng-if="open == contact.id">
      <label><span class="icon-paperplane" title="Email"></span> {{ contact.email }} </label>
      <label><span class="icon-phone2" title="Phone"></span> {{ contact.phone }} </label>
      <label><span class="icon-link5" title="Website"></span> <a href="{{ contact.website }}" target="_blank" title="Go to website?"> {{ contact.website }} </a></label>


      <a href="#/" class="control" title="Edit contact?" ng-click="updateModal( contact.id )"><span class="icon-pencil5"></span></a>
      <a href="#/" class="control" ng-click="deleteContact( contact.id )" title="Delete this contact?"><span class="icon-bin"></span></a>
    </div>
  </div>

  <div class="contacts-list add-new" ng-show="!loading" ng-click="addModal()">
    <label title="Add new contact"><span class="icon-plus2"></span> Add new </label>
  </div>

  <div ng-if="visibleUpdateModal">

    <!-- <div ng-include="'app/views/_updateContact.html'"></div> -->
    <!-- ng-include does not work on gh-pages just use the template files as a patch -->

    <section class="modal-show" ng-show="visibleUpdateModal" >

        <form ng-submit="updateContact()">

          <h2>Edit Contact</h2>

          <label for="cname"><span class="icon-profile"></span> Name:</label>
          <input type="text" name="cname" value="{{ currentContact.name }}" ng-model="currentContact.name" />

          <label for="cmail"><span class="icon-paperplane"></span> Email:</label>
          <input type="text" name="cmail" value="{{ currentContact.email }}" ng-model="currentContact.email"/>

          <label for="cphone"><span class="icon-phone2"></span> Phone:</label>
          <input type="text" name="cphone" value="{{ currentContact.phone }}" ng-model="currentContact.phone"/>

          <label for="csite"><span class="icon-link5"></span> Website:</label>
          <input type="text" name="csite" value="{{ currentContact.website }}" ng-model="currentContact.website"/>

          <br/>
          <br/>
          <input type="submit" value="Update Contact" title="Update contact"/>

        </form>

        <div class="bg" ng-click="hideModal()"></div>

    </section>

  </div>

  <div ng-if="visibleAddModal">

    <!-- <div ng-include="'app/views/_addContact.html'"></div> -->
    <!-- ng-include does not work on gh-pages just use the template files as a patch -->

    <section class="modal-show" ng-show="visibleAddModal" >

        <form ng-submit="addContact()">

          <h2>Add New Contact</h2>

          <label for="cname"><span class="icon-profile"></span> Name:</label>
          <input type="text" name="cname" value="{{ emptyContact.name }}" ng-model="emptyContact.name" />

          <label for="cmail"><span class="icon-paperplane"></span> Email:</label>
          <input type="text" name="cmail" value="{{ emptyContact.email }}" ng-model="emptyContact.email"/>

          <label for="cphone"><span class="icon-phone2"></span> Phone:</label>
          <input type="text" name="cphone" value="{{ emptyContact.phone }}" ng-model="emptyContact.phone"/>

          <label for="csite"><span class="icon-link5"></span> Website:</label>
          <input type="text" name="csite" value="{{ emptyContact.website }}" ng-model="emptyContact.website"/>

          <br/>
          <br/>
          <input type="submit" value="Add Contact" title="Add New Contact"/>

        </form>

        <div class="bg" ng-click="hideModal()"></div>

    </section>

  </div>

</div>
