<div ng-controller="homeController">
  <h1>Contacts</h1>

  <p>
    A simple app built with Angular JS that fetches a list of contacts from an
    external JSON api. The backend is RESTful so you can add, update, and delete
    contacts as you please.
  </p>

  <wave-spinner ng-show="loading"></wave-spinner>

  <div ng-repeat="contact in contacts" class="contacts-list">
    <div class="name" ng-click="openContact()">
      {{ contact.name }}

      <span class="icon-arrow-down2" ng-show="open" ></span>
      <span class="icon-arrow-right2" ng-show="!open" ></span>
    </div>
    <div class="info" ng-show="open">
      <label><span class="icon-paperplane" title="Email"></span> {{ contact.email }} </label>
      <label><span class="icon-phone2" title="Phone"></span> {{ contact.phone }} </label>
      <label><span class="icon-link5" title="Website"></span> <a href="{{ contact.website }}" target="_blank" title="Go to website?"> {{ contact.website }} </a></label>


      <a href="#/" class="control" title="Edit contact?" ng-click="updateModal( contact.id )"><span class="icon-pencil5"></span></a>
      <a href="#/" class="control" ng-click="deleteContact( contact.id )" title="Delete this contact?"><span class="icon-bin"></span></a>
    </div>
  </div>

  <div class="contacts-list add-new" ng-show="!loading" ng-click="addModal()">
    <label title="Add new contact"><span class="icon-plus2"></span> Add new </label>
  </div>

  <div ng-if="visibleUpdateModal">

    <div ng-include="'app/views/_updateContact.html'"></div>

  </div>

  <div ng-if="visibleAddModal">

    <div ng-include="'app/views/_addContact.html'"></div>

  </div>

</div>
